@use "functions" as *;
@use "variables" as *;

#shop-heading {
  margin-bottom: rem(50);
  font-size: rem(48);
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: rem(15);
  justify-content: center;
  align-items: center;
  text-align: center;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(10);
    width: rem(240);
    padding: rem(20) rem(5);
    border: rem(3) solid var(--light-gold);
    border-radius: rem(10);
    background-color: var(--light-blue);
    transition: all ease-in-out 200ms;

    &:hover {
      transform: scale(1.03);
      box-shadow: var(--dark-gold) 0 0 20px 5px;
    }

    .item-image {
      width: rem(75);
      height: rem(75);
      border: rem(2) solid var(--light-gold);
      border-radius: rem(10);
    }

    .item-title {
      margin: 0;
      font-size: rem(14);
    }

    .item-price-container {
      display: flex;
      gap: rem(10);

      .gold-sack {
        width: rem(18);
        height: rem(18);
        margin: auto;
      }

      .item-price {
        margin: auto;
        font-size: rem(16);
      }
    }
  }

  .item-cart-button {
    display: block;
    margin: auto;
    padding: rem(10) rem(20);
    font-size: rem(16);
    font-weight: 700;
    color: var(--white);
    background-color: var(--dark-blue);
    border: rem(2) solid var(--white);
    border-radius: rem(2);
    cursor: pointer;
    transition: background-color ease-in-out 200ms;

    &:hover {
      background-color: var(--dark-gold);
    }
  }
}
